In [1]:
import sys
sys.path.append('../src')

In [2]:
from footmav.operations.pipeable import pipeable
from footmav.odm.data import Data
import pandas as pd

In [3]:
df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})

In [4]:
@pipeable(required_unique_keys=['a'])
def test_f(data, a):
    data["a"] = a
    return data

In [6]:
data = Data(df, unique_keys=['a'])
data2 = test_f(data, [10,20,30])

In [10]:
test_f.f(df, [2,3,4])

   a  b
0  2  4
1  3  5
2  4  6

In [8]:
data2.df

    a  b
0  10  4
1  20  5
2  30  6